* {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 7px;
}

.btnIncrement {
    height: 30px;
    width: 40px;
}

.btnDecrement {
    height: 30px;
    width: 40px;
}

.currentStep, .maxValue, .minValue {
    border-radius: 5px;
}